<div class="dialogContainer">
  <div class="row">
<p-autoComplete [(ngModel)]="selectUser" [suggestions]="filteredUsers" (completeMethod)="filterPages($event)" field="userName"
[size]="30" placeholder="{{ 'dodajMiejsceLubMiasto' | translate }}" [minLength]="3" [maxlength]=100 (onFocus)="noLoader()" (onBlur)="loader()">

 <ng-template let-user pTemplate="item" >
   <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
     <div style="font-size:18px;" class="search-result" (click)='addUserList(user)'>
       {{user.login}}
     </div>
   </div>
 </ng-template>
</p-autoComplete>
</div>
<div *ngIf='users.length > 0' >
<ul id='usersList' *ngFor='let user of users'>
  <li> <p-checkbox name="groupname" value="{{user.login}}" [(ngModel)]="selectedValues" label="{{user.login}}"></p-checkbox>  </li>
  </ul>
</div>
 <div id='usersList' *ngIf='users.length === 0'>
<a class='testyy'>NIMA MA NIC</a>
</div>
<div class='bottom'>
    <button class="btn btn-danger btn-sm btn-block" type="submit" (click)='removeUserList()'>Usuń użytkownika</button>
    <button class="btn btn-primary btn-sm btn-block" type="submit" (click)='debag()'>Zapisz</button>
</div>
</div>
