<div class="container" *ngIf="myEvents$ | async as myEvents">
 <div class="table-responsive">
<p-table class="table" #dt [columns]="cols" [value]="myEvents" [paginator]="true" [scrollable]="true" scrollHeight="350px" [rows]= 10 sortField="eventID" sortOrder="-1">
    <ng-template pTemplate="header" let-columns >
        <tr>
          <ng-container *ngFor="let col of columns" [pSortableColumn]='col.field' [ngSwitch]="col.field">
            <th  [style.width]="col.width" *ngIf="col.field != 'draft'">
             <p  class="sort">{{col.header}} </p>
             <input class="dupsko2" *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
             <input class="dupsko2" *ngSwitchCase="'placeName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
             <p-dropdown *ngSwitchCase="'status'" [options]="status" [style]="{'width':'100%'}" (onChange)="dt.filterGlobal($event.value, 'equals')"></p-dropdown>
            </th>
            </ng-container>
        </tr>

    </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <ng-container *ngFor="let col of columns" [style.width]="col.width">
          <td [style.width]="col.width" *ngIf='col.field !="draft"'>
              <p *ngIf="col.field == 'placeName'">{{rowData[col.field]}}</p>
                  <p *ngIf="col.field == 'name'">{{rowData[col.field]}}</p>
                  <p *ngIf="col.field == 'dateStart'">{{rowData[col.field] | date: 'dd.MM.yy'}}</p>
                    <p *ngIf="col.field == 'dateEnd'">{{rowData[col.field] | date: 'dd.MM.yy'}}</p>
                      <p *ngIf="col.field == 'status'">
                          <a *ngIf="rowData[col.field] == 2">Opublikowany</a>
                          <a *ngIf="rowData[col.field] == 1">Zapisany</a>
                          <a *ngIf="rowData[col.field] == null">Szkic</a>
                                    </p>
              <div *ngIf="col.field == 'eventID'" class="btn-group mr-2" role="group" >
                <button class="btn btn-primary btn-sm" *ngIf="(rowData[columns[5].field]) == true" (click)='debag(rowData[col.field])'>Edytuj</button>
                <button class="btn btn-success btn-sm" *ngIf="(rowData[columns[5].field]) == true" (click)='publishEvent(rowData[columns[6].field])'>Zapisz</button>
                <button class="btn btn-primary btn-sm" *ngIf="(rowData[columns[5].field]) == false" (click)='addList(rowData[columns[6].field])'>Dodaj listę</button>
              </div>

          </td>
        </ng-container>
      </tr>
  </ng-template>
</p-table>
</div>
</div>

