.dupsko2 {
  max-width: 100%;
}
.sort{
  display: flex;
}

  /* Column Priorities */
  @media screen and (max-width: 600px) {

    :host >>>   .ui-table-scrollable-header, .ui-widget-header {
      display: none;
    }

    :host >>>  .ui-table-scrollable-body {
      max-height: 70% !important;
    }

    table {
      border: 0;
    }

    caption {
      font-size: 1.3em;
    }

     thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

     tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
      width: 100% !important;
    }

     td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    td:last-child {
      border-bottom: 0;
    }

    td:nth-of-type(1):before { content: "Miejsce"; }
    td:nth-of-type(2):before { content: "Nazwa eventu"; }
    td:nth-of-type(3):before { content: "Rozpoczęcie"; }
    td:nth-of-type(4):before { content: "Zakończenie"; }
    td:nth-of-type(5):before { content: "Status"; }
    td:nth-of-type(6):before { content: "Edytuj"; }
  }

:host >>> .ui-table-scrollable-header, .ui-table-scrollable-footer {
  overflow: visible;
}
