
@font-face {
  font-family: 'Sony Sketch EF';
  font-style: normal;
  font-weight: normal;
  src: local('Sony Sketch EF'), url('Sony_Sketch_EF.woff') format('woff');
  }

  body {
    background-color: whitesmoke
  }
body .ui-dialog .ui-dialog-content {
  border: 0px;
  padding: 0;
  max-height: 90vh;
}
body .ui-megamenu .ui-menuitem-link .ui-menuitem-text  {
  color: black;
}
body .ui-megamenu {
  border: 0;
}
.naviAdd {
  position: fixed;
  bottom: 50px;
}
.left {
  left: 40%;
}
.right {
  right: 40%;
}
.center {
  text-align: center;
}
body .ui-button {
  background-color: black;
  border: black;
}
/* LOADER */

/* STEPS */

:host >>> .ui-steps-number {
  color: #ffffff;
  background: black !important;
  background-color: black !important;
}

/* KALENDARZ */

