<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
      <button type="button" class="btn btn-outline-dark" routerLink="/user/addevent" >Dodaj event</button>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
      <button type="button" class="btn btn-outline-dark" routerLink="/user/myevents" >Moje eventy</button>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
      <button type="button" class="btn btn-outline-dark" routerLink="/user/mylists">Moje listy gości</button>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
