.true {
  display: block;
}
.false {
  display: none;
}
.error {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 500000;
  top: 50px;
  left: 50px;
  background-color: beige;
  visibility: visible;
  position: fixed;
}


.hidden {
  visibility: hidden;
}
.loader-overlay {
  position: absolute;
  width: 100%;
  z-index: 500000;
  top: 0;
}

.loader {
  position: fixed;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  margin-bottom: -50%;
}
