<div *ngIf="err != undefined" >
  <p-dialog header="Title" [(visible)]="err" [modal]="true" [closable]="false"  [style]="{width: '300px', height: '200px'}" (onHide)="debag()">
    <p-header>
      <button (click)="deleteError()" >Zamknij</button>
  </p-header>
    <p>Błąd: {{err.error}}</p>
   <p>Status: {{err.status}}</p>
  <p>{{err}}</p>
  </p-dialog>
</div>
