<div class="container" *ngIf='lists'>
<p-table [value]="lists" dataKey="eventName" sortField="eventName" sortMode="single" (onSort)="onSort()">
    <ng-template pTemplate="header">
        <tr>
            <th>Nazwa listy</th>
            <th>Rozpoczęcie</th>
            <th>Zniżka</th>
            <th>Operacje</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
        <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.eventName].index === rowIndex">
            <td colspan="4">

                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                    <span> Nazwa eventu: </span>

                    <span>{{rowData.eventName}}</span>
                    <button  class="btn btn-primary btn-sm" (click)="userList(rowData.eventID)">Użytkownik listy</button>
                </a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
        <tr>
            <td>{{rowData.listName}}</td>
            <td>{{rowData.eventDate}}</td>
            <td>{{rowData.price}}</td>
            <td>
              <button (click)="debag2(rowData.listToken)" >Poierz token</button>
            </td>
        </tr>
    </ng-template>
</p-table>
<button (click)="debag2()">DDDDDD</button>
</div>
