<div class="container">
<div *ngIf="isAuth()" class="alert alert-info col">
  <h3>Jestes zalogowany</h3>
 </div>
 <h2>Login</h2>
 <form *ngIf="!isAuth()" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   <div class="form-group">
       <label for="username">Username</label>
       <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
       <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="loginForm.get('username').invalid">Pole wymagane!</div>
       </div>
   </div>
   <div class="form-group">
       <label for="password">Password</label>
       <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
       <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
           <div *ngIf="loginForm.get('password').invalid">Hasło jest wymagane</div>
       </div>
   </div>
   <div class="form-group">
       <button  class="btn btn-primary">Login</button>
   </div>
   <button class="btn btn-primary btn-sm" type="submit" (click)="goRegister()">Rejestracja</button>
 </form>
</div>
