<div class="center">
<h3 class="first">{{ 'plakat' | translate }}</h3>
<img *ngIf="img !== null && selectedFile === null" class="eventcartImg" src ="https://technoweekapiblob.blob.core.windows.net/img/eventcovers/{{img}}">
<p *ngIf="selectedFile">{{selectedFile.name}}</p>
<input *ngIf="selectedFile === null"  type='file' accept="image/*" class="btn-dark btn-lg" (change)="onFileSelected($event)">
<button (click)="removeUp()" [disabled]="!selectedFile">Usuń</button>
<button  [disabled]="!selectedFile">Wyślij</button>
</div>
<button class="naviAdd left btn btn-dark btn-lg"  type="button" (click)="changePage(-1)">{{ 'wstecz' | translate }}</button>
<button class="naviAdd right btn btn-dark btn-lg"  type="button" (click)="confirm()" >{{ 'wyslij' | translate }}</button>
