.bar{
  width: 100%;

  color: black;
  margin-bottom: 5%;
  z-index: 100;
}
:host >>>  .ui-megamenu-root-list {

  color: black;
  float: right;
  border: none;
  margin-right: 10%;
  margin-top: 1px;
}
:host >>> body .ui-megamenu, .ui-menuitem-link, .ui-menuitem-text, body .ui-slidemenu, .ui-menuitem-link, .ui-menuitem-text {
  color:black;
}
.logo {
  max-width: 10%;
  margin: 1%;
  outline: 0;
}
