<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<p-megaMenu [model]="items">
    <button class="btn btn-light" *ngIf="_authService.checkToken()" routerLink="/user" routerLinkActive="active">User</button>
    <button class="btn btn-light" *ngIf="_authService.checkToken()" routerLink="/user/addevent" routerLinkActive="active">Admin</button>
  <button class="btn btn-light" *ngIf="!_authService.checkToken()"  routerLink="/login" routerLinkActive="active">{{ 'zaloguj' | translate }}</button>
  <button class="btn btn-light" *ngIf="_authService.checkToken()" (click)="logout()">{{ 'wyloguj' | translate }}</button>
  <button type="button" class="btn btn-link" (click)="switchLanguage('pl')">PL</button>
  <button type="button" class="btn btn-link" (click)="switchLanguage('eng')">ENG</button>
</p-megaMenu>


  <div class="bar">
<img class="logo" src="../assets/images/logo/ilovetechnoLogo2.png" [routerLink]="['']">
<button (click)="addSingle()" >TEST</button>
</div>
</div>
<p-confirmDialog #cd  icon="pi pi-exclamation-triangle">
    <p-footer>
        <button  type="button" pButton icon="pi pi-times" label='{{ "no" | translate }}'  (click)="cd.reject()" ></button>
        <button  type="button" pButton icon="pi pi-check" label='{{ "yes" | translate }}'  (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<p-toast></p-toast>
<app-error></app-error>
<app-loader></app-loader>
<router-outlet></router-outlet>
