<div class="container">
<form [formGroup]="listGroup" (ngSubmit)="sendList()">
<div class="form-group">
    <h5>Nazwa listy</h5>
    <input class="form-control" type="text" formControlName="name">
</div>
<div class="form-group">
  <h5>Maksymalna liczba gości</h5>
    <p-spinner formControlName="maxGuests" [min]="1" [max]="100"></p-spinner>
</div>
<div class="form-group">
  <h5>Zniżka</h5>
  <h6>Zniżka: {{listGroup.value.price}}%</h6>
    <p-slider formControlName="price"></p-slider>
</div>
<div class="form-group">
  <button [disabled]="listGroup.invalid" class="btn btn-primary btn-sm btn-block" type="submit">Zapisz listę</button>
</div>
</form>
</div>
