<div *ngIf="show">
  <div class="loader-overlay">
    <div class="loader" *ngIf="show" class="loader">
      <div class="rhombus">
          <div class="circle1"></div>
          <div class="circle2"></div>
      </div>
      </div>
  </div>
</div>
