.hidden {
  visibility: hidden;
}
.loader-overlay {
  position: absolute;
  width: 100%;
  z-index: 400000;
  top: 0;
}

.loader {
  position: fixed;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  margin-bottom: -50%;
}

.rhombus {
  margin: 40px 0 0 60px;
  /*background: #fcfcfc;*/
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  height: 75px;
  width: 75px;
  margin-bottom: 10px;
  float: center;
}

.rhombus:before {
  content: "";
  position: absolute;
  background: black;
  height: 40px;
  width: 40px;
  z-index: 0;
  margin-top: 15px;
  margin-left: 15px;
  transform: rotate(45deg);
}

.rhombus .circle1 {
  content: "";
  position: absolute;
  background: black;
  height: 40px;
  width: 40px;
  z-index: 1;
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: change1;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
}

.rhombus .circle2 {
  content: "";
  position: absolute;
  background: black;
  height: 40px;
  width: 40px;
  z-index: 1;
  margin-left: 30px;
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: change2;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
}

@keyframes pump {
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.1);
  }
}

@keyframes change1 {
  0%,
  25% {
      margin-top: 0px;
      margin-left: 0px;
  }
  50%,
  75% {
      margin-top: 30px;
      margin-left: 30px;
  }
}

@keyframes change2 {
  25%,
  50% {
      margin-top: 30px;
      margin-left: 0px;
  }
  75%,
  100% {
      margin-top: 0px;
      margin-left: 30px;
  }
}
