<div class="container">
    <p-steps [model]="items" [(activeIndex)]="currentPage"></p-steps>
  <div class="row">
<div class="col-12 align-self-center">
<div *ngIf="currentPage == 0"><app-add-place></app-add-place></div>
<div *ngIf="currentPage == 1"><app-calendar></app-calendar></div>
<div *ngIf="currentPage == 2"><app-editor></app-editor></div>
<div *ngIf="currentPage == 3"> <app-add-artist></app-add-artist></div>
<div *ngIf="currentPage == 4"> <app-upload></app-upload></div>
</div>
</div>
</div>
