:host >>> .ui-steps .ui-steps-item {
  width: 20%;
}

:host >>> .ui-steps.steps-custom {
  margin-bottom: 30px;
}

:host >>> .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  height: 10px;
  padding: 0 1em;
}

:host >>> .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background: black;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

:host >>> body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {

   background: black !important;
   background-color: black !important;
}

:host >>> .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}
