<div class="center" *ngIf="place.length === 0">
 <p>{{ 'miejsce' | translate }}</p>
<p-autoComplete [(ngModel)]="selectPlace" [suggestions]="filteredPages" (completeMethod)="filterPages($event)" field="name"
[size]="30" placeholder="{{ 'dodajMiejsceLubMiasto' | translate }}" [minLength]="2" [maxlength]=100 (onFocus)="noLoader()" (onBlur)="loader()">

 <ng-template let-place pTemplate="item" >
   <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
     <div style="font-size:18px;" class="search-result" (click)="time()">
       {{place.name + ' '}}
     </div>
   </div>
 </ng-template>
</p-autoComplete>
</div>
<div class="center">
<a *ngFor="let i of place">
  {{i.name}}{{i.adress}}<button class="btn btn-danger" (click)="removePlace()">{{ 'usun' | translate }}</button>
</a>
<button class="naviAdd left btn btn-dark btn-lg" [disabled]='true' type="button" (click)="changePage(-1)">{{ 'wstecz' | translate }}</button>
<button class="naviAdd right btn btn-dark btn-lg" type="button" (click)="changePage(1)" [disabled]="place.length === 0" >{{ 'dalej' | translate }}</button>

</div>
