.art {
  margin-right: 3%;
}

#true {
  border-radius: 50%;
  border: 7px solid black;
  box-shadow: 1px 2px 2px #888888;
  margin: 10px;
  width: 20px;
  height: 20px;
}
#false {
  border-radius: 50%;
  border: 1px solid black;
  margin: 10px;
  width: 20px;
  height: 20px;
}
.form-check {

}
.test {
  text-align: center;
  width: 80%;
  display: -webkit-inline-box;
}
.artUl {
  width: 30%;
}
