<div class="center">
<h3>{{ 'artysci' | translate }}</h3>

<p-tabView>
    <p-tabPanel header="Lineup">
        <p-autoComplete [(ngModel)]="selectArtist" [suggestions]="filteredPages" (completeMethod)="filterPages($event)" field="name"
        [size]="30" placeholder="{{ 'artysta' | translate }}" [minLength]="2" [maxlength]=50 (onFocus)="noLoader()" (onBlur)="loader()">

         <ng-template let-city pTemplate="item" >
           <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
             <div style="font-size:18px;" class="search-result" (click)="time()">
               {{city.name + ' '}}{{city.country}}
             </div>
           </div>
         </ng-template>
        </p-autoComplete>
        <button type="button" class="btn btn-dark" (click)='addArtist()'[disabled]="disableSaveButton(selectArtist)">{{ 'dodajArtyste' | translate }}</button>
        <div>
          <li class="form-check" *ngFor= "let i of artList | sortArtists">
          <ul class="test" *ngIf='i.artistID == null else linkArt'>
            <div class="artUl"><a style="margin-right: 10px;">{{i.name}}</a><a *ngIf="i.isLive === true">(Live)</a></div>
            <button type="button" class="btn btn-danger" (click)="removeArt(i)">{{ 'usun' | translate }}</button>
            <p id="{{i.isLive}}"  (click)="isLiveChange(i)">
          </ul>
          <ng-template #linkArt>
            <ul class="test">
                <div class="artUl"> <a style="margin-right: 10px;" href="http://localhost:4200/artists/{{i.name}}">{{i.name}}</a><a *ngIf="i.isLive === true">(Live)</a></div>
            <button type="button" class="btn btn-danger" (click)="removeArt(i)">{{ 'usun' | translate }}</button>
            <p id="{{i.isLive}}"  (click)="isLiveChange(i)">
              </ul>
          </ng-template>
        </li>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Promo-video">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fab fa-youtube"></i></span>
            <input type="text" [(ngModel)]="selectLink" pInputText placeholder="Link">  <button type="button" class="btn btn-dark" (click)='addLink()'>{{ 'dodajLink' | translate }}</button>
        </div>
        <div style="max-width: 30%; overflow-y: scroll; max-height: 65vh;">
            <a *ngFor="let link of links">
              <div *ngIf='link.type === 1' class="embed-responsive embed-responsive-21by9">
                  <iframe class="embed-responsive-item" max-width="30%" [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/' + link.link)" allowfullscreen></iframe>
              </div>
              <div *ngIf='link.type === 2' >
                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" [src]="sanitizer.bypassSecurityTrustResourceUrl('https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/' + link.link + '&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')"></iframe>
              </div>
              <button type="button" class="btn btn-danger" (click)="removeLink(link)">{{ 'usun' | translate }}</button>
            </a>
          </div>
          <button (click)="debag()">DEBAG</button>
    </p-tabPanel>
</p-tabView>


<button class="naviAdd left btn btn-dark btn-lg"  type="button" (click)="changePage(-1)">{{ 'wstecz'| translate }}</button>
<button class="naviAdd right btn btn-dark btn-lg" type="button" (click)="changePage(1)" [disabled]="artList.length === 0">{{ 'dalej' | translate }}</button>
