<div class="center">
<h3>{{ 'dataRozp' | translate }}</h3>
<p-calendar [(ngModel)]="start" *ngIf="!Data" [showTime]="true"
[dateFormat]="dateFormat" (onClose)="addCalendar()" [minDate]="minDate">
  <p-header>{{ 'wybDzien' | translate }}</p-header>
  <p-footer>{{ 'wybGodz' | translate }}</p-footer>
</p-calendar>
<div *ngIf="Data"> <p>{{Data.start | date: 'dd.MM.yy hh:mm'}}</p><button (click)="removeCalendar()" >Usuń termin</button></div>
<h3>{{ 'dataZak' | translate }}</h3>
<p-calendar  [(ngModel)]="finish" *ngIf="!isFinish()" [showTime]="true" [showIcon]="true" [dateFormat]="dateFormat"  (onClose)="addCalendar()"
 [minDate]="minFinishDate" [disabled]="!start" (onFocus)="changeMinDate()">
  <p-header>{{ 'wybDzien' | translate }}</p-header>
  <p-footer>{{ 'wybGodz' | translate }}</p-footer>
</p-calendar>
<div *ngIf="isFinish()"><p >{{Data.finish | date: 'dd.MM.yy hh:mm'}}</p> <button (click)="removeFinishDate()" >Zmień termin</button> </div>
</div>
<button class="naviAdd left btn btn-dark btn-lg"  type="button" (click)="changePage(-1)">{{ 'wstecz' | translate }}</button>
<button class="naviAdd right btn btn-dark btn-lg" type="button" (click)="changePage(1)" [disabled]="!start || !finish" >{{ 'dalej' | translate }}</button>
