p {
  margin-bottom: 0;
}
/* SCROLLBAR */
:host >>> ::-webkit-scrollbar {
  width: 10px;
  background-color: #DCDCDC;
  border-radius: 7px;
}

/* Track */
:host >>> ::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 7px;
}

/* Handle */
:host >>> ::-webkit-scrollbar-thumb {
  background:black;
  border-radius: 7px;
}

/* Handle on hover */
:host >>> ::-webkit-scrollbar-thumb:hover {
  background: black;
}
/*------------ SCROLLBAR ------------*/
/*------------- UI-DIALOG -----------*/
:host >>> .ui-dialog {
  border-radius: 15px 15px 5px 5px;
  width: 40%;
  padding: 0px;
}

:host >>> .ui-dialog-content {
  border-radius: 15px 15px 5px 5px;
  overflow-y: scroll;
  padding: 0px;
}

:host >>> body.ui-dialog,body.ui-dialog-content {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #c8c8c8;
  padding: 0 !important;
}

:host >>> body {
  padding: 0;
}

.eventcartImg {
  max-height: 50vh;
  width: 100%;
  overflow: hidden;
}

.eventcartTittle{
  color: white;
  background-color: #101010;
  padding-left: 2%;
}

.eventcartDescription {
  padding: 2%;
  border-radius: 0px 0px 15px 0px;
}

/* ----------------UI-DIALOG ----------------*/
/* ----------------PROGRESSBAR ----------------*/

:host >>> .ui-progressbar {
  height: 5px;
}

:host >>> .ui-progressbar-indeterminate .ui-progressbar-value::after {
  background-color: 	#708090;
}

:host >>> .ui-progressbar-indeterminate .ui-progressbar-value::before {
  background-color: 	#708090
}

.progres {
  position: fixed;
  height: 10px;
  width: 100%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}

.map {
  height: 300px;
  width: 500px;
  padding: 0;
}
/* ---------------EVENT-LIST --------------*/
.eventItem{
  cursor: pointer;
  border-radius: 15px 15px 5px 5px;
  /* position: relative; */
}
.eventCartMiddle {
  display: flex;
  border-radius: 0px 0px 0px 0px;
}
.eventCartDown {
  display: flex;
  word-spacing: -4px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;

  padding: 4%;
}

.eventItemName {
  font-family: 'Sony Sketch EF';
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding-left: 2%;
}

.eventItemImg{
  border-radius: 10px 10px 10px 10px;
  overflow: scroll;
  height: 200px;
  width: 100%;
}

.eventItemDescription{

  font-family: 'Sony Sketch EF';
  width: 100%;
  display: flex;
  border-radius: 15px 15px 15px 15px;
  background-color: #0A1316;
  position: relative;
  color: silver;

  }

.eventItemLogo{

  width: 20%;


}

.logoClub{
  border-radius: 10px 10px 10px 10px;
}
.eventBox{
  height: 10%;;
}
.dateEvent {
  margin-left: 2%;
  margin-top: 3%;
}
.namePlaceEvent {
  width: 65%;
  padding-top: 1%;
  margin-left: 5%;
  margin-block-start: -1%;
}
.eventcartBottom{
  background-color: rgb(230, 219, 213);
  text-align: center;
  width: 100%;
  padding: 2%;
  color: rgb(48, 47, 47);
}

.figure-caption {
  color: white;
}

