<div class="container">
<div *ngIf="events$ | async as items" class="row">
    <div *ngFor=" let events of items" class="eventItem col-12 col-md-4" >
    <div   label="Show">
      <!-- zdjęcie zamarkowane, czekam na parametr img w modelu z api -->
    <img class="img-fluid  eventItemImg" *ngIf="events.imgURL" src ="https://technoweekapiblob.blob.core.windows.net/img/eventcovers/{{events.imgURL}}" (click)="showDialog(events.eventID, events.name)">
    <img class="img-fluid  eventItemImg" *ngIf="!events.imgURL" [src] ="image" (click)="showDialog(events.eventID, events.name)" >
    <div class="eventBox" (click)="showDialog(events.eventID, events.name)" >
     <div class="eventCartMiddle">
    <div class="eventItemDescription">
          <div class="namePlaceEvent"><h3 style="margin-bottom: 0;">{{events.placeName | uppercase}}</h3></div>
          <div class="dateEvent" ><p>{{events.dateStart | date: 'dd.MM.yy E'}}</p></div>
      </div>
    </div>
    <div class="eventCartDown">
      <div class="eventItemLogo">
          <img class="img-fluid logoClub" src ="assets/images/clubs/{{events.placeName}}.png">
                </div>
              <div class="eventItemName">
                <p><strong>{{events.name}}</strong></p>
              </div>
            </div>
  </div>
    <div *ngIf="events.name === selectedEvent">
      <p-dialog [(visible)]="display" [modal]="true" [draggable]="false" [showHeader]="false" [positionTop]="50" (onHide)='clearEvent()'>
        <img class="eventcartImg" *ngIf="event.imgURL" src ="https://technoweekapiblob.blob.core.windows.net/img/eventcovers/{{event.imgURL}}">
        <img class="eventcartImg" *ngIf="!event.imgURL" [src] ="image">
         <div class="eventcartTittle">
           <h1 class="display-5">{{event.name}}</h1>
              <p class="h5">Data rozpoczęcia: {{event.dateTimeStart | date: 'dd.MM.yy E'}}</p>
              <p class="h5">Data zakończenia: {{event.dateTimeEnd | date: 'dd.MM.yy E'}}</p>
                <p class="h5">{{event.placeName}}</p>
                <!-- dodać logo miejsca do api i frontu -->
    </div>
      <!-- <div class="eventcartDescription">{{event.description}}</div> -->
      <p [innerHTML]="event.description"></p>
      <!-- dodać lineup, promo video yt i soundcloud.  -->
      <button type="button" (click)="pokaLink()">Link</button>
      <app-maps></app-maps>
</p-dialog>
</div>
  </div>
</div>
</div>
<!-- <button (click)='pokaEvent()'>Event</button> -->
</div>


