
<h3 class="first">{{ 'tytulEventu' | translate}}</h3>
<input aria-label="Small" [(ngModel)]="titleEvent" maxlength=50 (change)="addTitle()"><h3 class="first">{{ 'opis' | translate }}</h3>
<p-editor [(ngModel)]="description" [style]="{'height':'220px'}" (onTextChange)="addDescription()" >
  <p-header>
    <span class="ql-formats">
        <button class="ql-bold" aria-label="Bold"></button>
        <button class="ql-list" aria-label="Unordered List" value="bullet"></button>
    </span>
</p-header>
</p-editor>
<a>{{description}}</a>
<button class="naviAdd left btn btn-dark btn-lg"  type="button" (click)="changePage(-1)">{{ 'wstecz' | translate }}</button>
<button class="naviAdd right btn btn-dark btn-lg" type="button" (click)="changePage(1)" [disabled]="!description || !titleEvent">{{ 'dalej' | translate }}</button>

