<p>{{ 'welcomeMessage' | translate }}!</p>
<div class="search">
<p-autoComplete [(ngModel)]="city" [suggestions]="filteredPages" (completeMethod)="filterPages($event)" field="name"
 [size]="30" placeholder="{{ 'szukajTechno' | translate }}" [minLength]="2" (onClear)="clearInput()" (onFocus)="noLoader()" (onBlur)="loader()" >

	<ng-template let-city pTemplate="item" >
		<div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
			<div style="font-size:18px;"  (click)="gotoDetail(city)" class="search-result">
				{{city.cityName}}
			</div>
		</div>
	</ng-template>
</p-autoComplete>
</div>
