:host >>> .ui-autocomplete-input{
  border-radius: 7px 7px 7px 7px;
  width: 100%;
}
:host >>> .ui-autocomplete{
  width: 30%;
}

.search {
  text-align: center;
  height: 50vh;
  /* margin: 30vh; */
}

:host >>>  .loader-overlay {
  display: none;
}
